* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  font-family: Jua, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  margin: 0;
}

article {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre {
  white-space: pre-wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
span {
  font-family: Jua, sans-serif;
  font-size: inherit;
  letter-spacing: 0.1rem;
  text-align: left;
  word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bebas Neue, Jua, sans-serif;
  text-align: center;
}

em {
  font-family: Bebas Neue, Jua, sans-serif;
  font-style: normal;
}
